@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@section heads {
    <link href="@Url.Content("~/css/Identity/account.css")" rel="stylesheet" type="text/css" />
    @RenderSection("heads", required: false)
}

<div class="container account-page-content">
    <h2>Manage your account</h2>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="col-md-3" id="account-sideNav">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
