.card {
  height: 600px;
  overflow: hidden;
  margin: 15px;
  border-color: #3E497A; }
  .card .card-img-top {
    height: 180px;
    object-fit: contain; }
  .card .card-text {
    height: 197px;
    overflow: hidden; }

.bg-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  min-height: 400px; }

.section-title {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 35px;
  color: #21325E;
  text-align: center;
  margin-top: 50px; }

.home-header {
  height: 400px; }
  .home-header h1 {
    position: relative;
    color: #21325E;
    padding: 35px;
    max-width: 70vw;
    padding-bottom: 0px; }
  .home-header h2 {
    padding: 35px;
    position: relative;
    color: #3E497A;
    max-width: 70vw;
    padding-top: 15px; }
  .home-header .register-button {
    position: relative;
    padding: 12px;
    border: 5px solid #21325E;
    color: #F0F0F0;
    font-weight: 700;
    margin-left: 35px;
    font-size: larger;
    background-color: #21325E;
    transition: all .3s ease;
    top: 30px; }
  .home-header .register-button:hover {
    text-decoration: none;
    background-color: #3E497A;
    border: 5px solid #3E497A; }

.services-card-container {
  padding: 50px;
  margin-top: 35px;
  margin-bottom: 35px; }
  .services-card-container .service {
    color: #21325E;
    padding: 25px;
    height: 270px; }
    .services-card-container .service .service-card-img {
      max-width: 100px;
      max-height: 100px; }
    .services-card-container .service h3 {
      display: inline-block;
      margin-left: 20px; }
    .services-card-container .service p {
      margin-top: 25px; }

.search-form-container {
  height: 330px;
  text-align: center;
  background-color: #889FA5;
  display: table;
  width: 100vw; }
  .search-form-container form {
    font-size: 0px;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; }
    .search-form-container form *:not(h2) {
      vertical-align: middle;
      height: 55px;
      margin: 0;
      font-size: large;
      border: 0;
      position: relative;
      background-color: white;
      color: #21325E;
      border: 3px solid #F1D00A; }
      .search-form-container form *:not(h2) i {
        height: 0;
        vertical-align: middle;
        border: none; }
      .search-form-container form *:not(h2):focus {
        outline: none; }
    .search-form-container form input[type="search"] {
      width: 470px;
      display: inline-block;
      padding-left: 20px;
      border-right: none;
      max-width: 60vw; }
    .search-form-container form select, .search-form-container form button {
      padding: 10px;
      cursor: pointer;
      max-width: 20vw; }
    .search-form-container form select {
      border-left: none;
      border-right: none; }
    .search-form-container form button {
      border-left: none;
      width: 120px; }
    .search-form-container form select:hover, .search-form-container form button:hover, .search-form-container form input:focus {
      background-color: #F0F0F0; }
    .search-form-container form h2 {
      margin-bottom: 35px;
      color: #F0F0F0; }
    .search-form-container form .big-number {
      all: unset;
      font-size: 55px;
      font-weight: 700; }

.categories-cards {
  max-width: 1920px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10vw;
  padding-right: 10vw; }
  .categories-cards .category-card {
    text-align: center;
    color: #3E497A;
    margin: 15px; }
    .categories-cards .category-card img {
      height: 125px;
      width: 125px; }
    .categories-cards .category-card h5 {
      margin-top: 7px;
      font-size: x-large; }
  .categories-cards .category-card:hover {
    color: #F1D00A; }

.homepage-products {
  color: #21325E;
  margin-top: 35px; }

.homepage-popular {
  background-color: #3E497A;
  margin-top: 35px; }
  .homepage-popular div {
    padding: 30px;
    padding-left: 65px;
    font-size: 0; }
  .homepage-popular h3 {
    color: #F1D00A;
    display: inline-block;
    margin-right: 10px;
    font-size: 30px; }
  .homepage-popular a, .homepage-popular span {
    color: #F0F0F0;
    font-size: 22px; }

.middle-borders {
  border-right: 1.5px solid #F1D00A;
  border-left: 1.5px solid #F1D00A; }

@media only screen and (max-width: 786px) {
  .home-header h1, .home-header h2 {
    max-width: 100vw; }
  .home-header h2 {
    font-size: x-large; }
  .search-form-container form button {
    font-size: 0px;
    max-width: 15vw; }
  .categories-cards {
    padding: 0; }
    .categories-cards .category-card {
      margin: 0; } }

@media only screen and (max-width: 991px) {
  .middle-borders {
    border: 0;
    border-top: 1.5px solid #F1D00A;
    border-bottom: 1.5px solid #F1D00A; } }
