.card {
  height: 600px;
  overflow: hidden;
  margin: 15px;
  border-color: #3E497A; }
  .card .card-img-top {
    height: 180px;
    object-fit: contain; }
  .card .card-text {
    height: 197px;
    overflow: hidden; }

.bg-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
  min-height: 400px; }

.home-header {
  height: 400px;
  margin-bottom: 25px; }
  .home-header h1 {
    position: relative;
    color: #21325E;
    padding: 35px;
    max-width: 70vw;
    padding-bottom: 0px; }
  .home-header h2 {
    padding: 35px;
    position: relative;
    color: #3E497A;
    max-width: 70vw;
    padding-top: 15px; }
  .home-header .register-button {
    position: relative;
    padding: 12px;
    border: 5px solid #21325E;
    color: #F0F0F0;
    font-weight: 700;
    margin-left: 35px;
    font-size: larger;
    background-color: #21325E;
    transition: all .3s ease;
    top: 30px; }
  .home-header .register-button:hover {
    text-decoration: none;
    background-color: #3E497A;
    border: 5px solid #3E497A; }

.categories-cards {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto; }
  .categories-cards .category-card {
    text-align: center;
    color: #3E497A;
    margin: 15px; }
    .categories-cards .category-card img {
      height: 125px;
      width: 125px; }
    .categories-cards .category-card h5 {
      margin-top: 7px;
      font-size: x-large; }
  .categories-cards .category-card:hover {
    color: #F1D00A; }

@media only screen and (max-width: 786px) {
  .home-header h1, .home-header h2 {
    max-width: 100vw; }
  .home-header h2 {
    font-size: x-large; } }

.section-title {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-left: 35px;
  color: #21325E; }
