@import "../Utilities/_colors.scss";
.card {
    height: 600px;
    overflow: hidden;
    margin:15px;
    .card-img-top {
        height:180px;
        object-fit:contain;
    }

    .card-text {
        height: 197px;
        overflow: hidden;
    }
    border-color:$secondaryColor-light;
}
.bg-image{
    position:absolute;
    width:100%;
    object-fit:cover;
    z-index:0;
    pointer-events:none;
    min-height:400px;
}
.home-header {
    height: 400px;
    margin-bottom: 25px;

    h1 {
        position: relative;
        color: $secondaryColor-dark;
        padding: 35px;
        max-width: 70vw;
        padding-bottom: 0px;
    }

    h2 {
        padding: 35px;
        position: relative;
        color: $secondaryColor-light;
        max-width: 70vw;
        padding-top: 15px;
    }

    .register-button {
        position: relative;
        padding: 12px;
        border: 5px solid $secondaryColor-dark;
        color: $darkWhite;
        font-weight: 700;
        margin-left: 35px;
        font-size: larger;
        background-color: $secondaryColor-dark;
        transition:all .3s ease;
        top:30px;
    }

    .register-button:hover {
        text-decoration:none;
        background-color: $secondaryColor-light;
        border: 5px solid $secondaryColor-light;
    }
}
.categories-cards {
    max-width:1920px;
    margin-left:auto;
    margin-right:auto;
    .category-card {
        text-align:center;
        color:$secondaryColor-light;
        margin:15px;
        img {
            height: 125px;
            width: 125px;
        }
        h5{
            margin-top:7px;
            font-size:x-large;
        }
    }
    .category-card:hover{
        color:$mainColor;
    }
}
@media only screen and (max-width: 786px) {
    .home-header {
        h1, h2 {
            max-width:100vw;
        }
        h2{
            font-size:x-large
        }
    }
}
.section-title {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    margin-left:35px;
    color:$secondaryColor-dark;
}