@import "../Utilities/_colors.scss";

.card-price{
    padding: 15%;
}
.card-price, a{
    display: inline;

}

option, select {
    color: $mainColor;
    background-color: $secondaryColor-dark;
    margin: 7px;
}

input, button {
    color: $mainColor;
    background-color: $secondaryColor-dark;
    margin: 7px;
}

select, input {
    height: 30px;
}
::placeholder {
    color: $mainColor;
}

