@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link username-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="product" asp-action="saved">
                <i class="fa-regular fa-bookmark nav-link-icon"></i>
                <span class="nav-link-icon-text">Saved</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="padding-right:0;" asp-controller="product" asp-action="create">
                <i class="fa-solid fa-circle-plus nav-link-icon"></i>
                <span class="nav-link-icon-text">Add product</span>
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link join-button" asp-area="identity" asp-page="/account/login">Sign in</a>
        </li>
    }
</ul>
