footer {
  background-color: #3E497A;
  padding-top: 30px; }
  footer a {
    color: #F0F0F0;
    display: block;
    padding-left: 20px; }
  footer a:hover {
    color: #F1D00A; }
  footer .h5 {
    padding-left: 0; }
  footer .copyright-container {
    text-align: center;
    color: #F0F0F0;
    background-color: #21325E;
    margin-top: 30px; }
    footer .copyright-container img {
      margin: 10px;
      margin-bottom: 0px; }
    footer .copyright-container a {
      display: inline-block;
      padding-left: 0;
      color: #F1D00A;
      font-weight: 700; }
