@page
@section heads{
    <link href="@Url.Content("~/css/Identity/signForm.css")" rel="stylesheet" type="text/css" />
}
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="container sign-form-container">
    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-7 col-12">
            <form asp-route-returnUrl="@Model.ReturnUrl" id="registerForm" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName"></label>
                    <input asp-for="Input.LastName" class="form-control" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ProfileImage"></label>
                    <input asp-for="Input.ProfileImage" class="form-control" id="profileImageInputHidden" placeholder="Image URL" />
                    <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
                </div>
                <div class="form-group image-upload-input">
                    <span> or </span>
                    <label for="fileupload" class="custom-file-upload">
                        <i class="fas fa-cloud-upload-alt"></i> Upload image
                    </label>
                    <input class="form-control" type="file" id="fileupload" hidden/>
                    <span id="imageValidationText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button class="btn btn-success" id="fakeSubmitButton">Register</button>
                <button class="NoLoader btn btn-danger" onclick="clearFormInputs('registerForm')" type="button" id="clearFormButton">Reset</button>
                <button type="submit" id="submitButtonHidden" style="visibility:hidden">Register hidden</button>
            </form>
        </div>
        <div class="col-12 col-md-5">
            <section>
                <h4>More</h4>
                <hr />
                <p>By registering you agree to our <a asp-controller="home" asp-action="privacy">privacy policy</a></p>
                <p>Already have an account? Click <a asp-area="identity" asp-page="/account/login">here</a> to sign in</p>
                <br />
                <p><a asp-controller="home" asp-action="index">Back to home page</a></p>
            </section>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/cloudinaryUpload.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
