@{
    ViewData["Title"] = "About";
}

<div class="container text-container mt-3 mb-3">
    <h1>About TotallyNotOLX</h1>
    <p>TotallyNotOLX is an ASP.NET MVC project created by Ivaylo Chavdarov and Dimitar Radev as a project for National Program "IT Career Training" in the span of 2 weeks.</p>
    <p>Used technologies and languages: </p>
    <ul style="list-style-type:square">
        <li>C#, JavaScript, HTML, CSS, SQL(with EF)</li>
        <li>Bootstrap, SASS, FontAwesome, Razor Syntax</li>
        <li>Entity Framework, Identity Framework, Newtonsoft.JSON</li>
    </ul>
</div>