@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container text-container mt-3 mb-3">
    <h1>@ViewData["Title"]</h1>
    <p>TotallyNotOLX stores the data you enter in database and images you upload on Cloudinary and uses them when adding product to show your image and contacts for others to see.</p>
    <p>You can delete your account, removing your data from our database, but the images you upload stay on Cloudinary.</p>
</div>