@import "../css/Utilities/_colors.scss";
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: $secondaryColor-dark;
}
::-webkit-scrollbar-thumb {
    background: $darkWhite;
}
::-webkit-scrollbar-thumb:hover {
    background: $mainColor;
}
body, html{
    overflow-x:hidden;
}
.btn-primary{
    background-color:$secondaryColor-dark;
    border-color:$secondaryColor-light;
    color:$darkWhite;
}
.btn-primary:hover {
    background-color: $secondaryColor-light;
    border-color: $secondaryColor-light;
}
.btn-outline-primary {
    border-color: $mainColor;
    background-color: transparent;
    color: $mainColor;
    font-weight: 700;
    font-size:larger;
}
.btn-outline-primary:hover {
    border-color: $mainColor;
    background-color: $mainColor;
    color: $secondaryColor-dark;
}
.card {
    height: 600px;
    overflow: hidden;
    margin: 15px;

    .card-img-top {
        height: 180px;
        object-fit: contain;
    }

    .card-text {
        height: 197px;
        overflow: hidden;
    }

    border-color: $secondaryColor-light;
}
main{
    min-height:650px;
}
.small-circle{
    height:55px;
    width:55px;
    margin-right:15px;
    display:inline-block;
    border-radius:50%;
    object-fit:cover;
}
.text-container{
    background-color: $secondaryColor-dark;
    color:$darkWhite;
    padding:30px;
    h1{
        color:$mainColor;
        text-align:center;
        margin-bottom:15px;
    }
}
.checkbox {
    input[type="checkbox"] {
        height: 0px;
        width: 0px;
    }

    label {
        position: relative;
    }

    label:before {
        border: 2px solid $mainColor;
        background-color: $darkWhite;
        content: '';
        width: 30px;
        height: 30px;
        display: inline-block;
        position: relative;
        z-index: 0;
    }

    input[type="checkbox"]:checked:before {
        position: absolute;
        border: 2px solid $mainColor;
        background-color: $mainColor;
        color: $secondaryColor-dark;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f00c";
        text-align: center;
        width: 30px;
        height: 30px;
        display: inline-block;
        left: 0;
        top: 0;
        z-index: 1;
    }
}
.card-deck{
    width:100%;
}