@import "../css/Utilities/_colors.scss";
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: $secondaryColor-dark;
}
::-webkit-scrollbar-thumb {
    background: $darkWhite;
}
::-webkit-scrollbar-thumb:hover {
    background: $mainColor;
}
body, html{
    overflow-x:hidden;
}
.btn-primary{
    background-color:$secondaryColor-dark;
    border-color:$secondaryColor-light;
    color:$darkWhite;
}
.btn-primary:hover {
    background-color: $secondaryColor-light;
    border-color: $secondaryColor-light;
}
.card {
    height: 600px;
    overflow: hidden;
    margin: 15px;

    .card-img-top {
        height: 180px;
        object-fit: contain;
    }

    .card-text {
        height: 197px;
        overflow: hidden;
    }

    border-color: $secondaryColor-light;
}
main{
    min-height:650px;
}