::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: #21325E; }

::-webkit-scrollbar-thumb {
  background: #F0F0F0; }

::-webkit-scrollbar-thumb:hover {
  background: #3E497A; }

body, html {
  overflow-x: hidden; }
